/JoseM-TPCs/nbproject/private/
/JoseM-TPCs/build/
/JoseM-TPCs/dist/
/TestFXML/nbproject/private/
/TestFXML/build/
/EDA_T2/nbproject/private/
/EDA_T2/build/
/TPC_Unidade5/nbproject/private/
/TPC_Unidade5/build/
/TPC_Tema_6/nbproject/private/
/TPC_Tema_6/build/
/Tema_VII/nbproject/private/
/Tema_VII/build/